.navbar {
    width: 100%;
    height: 65px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
}

.nav a:link {
    color: #5C5C5C;
    font-size: 16px;
    text-decoration: none;
}
.nav a:hover {
    color: #0AA1BC;
}

.nav li.active a {
    color: #000000;
    border-bottom: 1px solid #000000;
}
.navbar .btn-register {
    color: #0AA1BC;
    font-weight: lighter;
    font-size: 12px;
}
.navbar .btn-signin {
    border: 0.5px solid #0AA1BC;
    color: #0AA1BC;
    font-weight: 700;
    font-size: 14px;

}
.btn:hover {
    color: #0AA1BC;
}
.btn .btn-search {
    color: #ffffff;
    background-color: #0AA1BC;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid red;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header-image {
    width: 100%;
    max-width: 1920px;
    max-height: 1065px;
    object-fit: cover;
}
.carousel-inner {
    position: relative;
}
.CTA-on-header {
    position: absolute;
    bottom: 20%;
    left: 15%;
}
.CTA-on-header h4{
    text-align: left;
    color: #FFFFFF;
    font-size: 49px;
    font-weight: bold;
    margin: 0;
}
.CTA-on-header h5{
    text-align: left;
    color: #000000;
    font-size: 29px;
    font-weight: bold;
    margin-top: 0px;
}
.CTA-on-header .price{
    text-align: left;
    color: #FFFFFF;
    font-size: 38px;
    /*font-weight: bold;*/
}
.add-to-cart {
    background-color: #0AA1BC !important;
    color: #FFFFFF !important;
    font-size: 22px;
    width: 300px;
    height: 59px;
}
.text-on-header {
    position: absolute;
    top: 85%;
    left:15%;
    max-width: 1050px;
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    font-weight: lighter;
}
.products-container {
    background-color: #FAFAFA;
}

.btn-share {
    border-radius: 100px;
    background-color: #0AA1BC !important;
    color: #FFFFFF;
    border: none;
}
hr {
    max-width: 80%;
}
.product-image {
    width: 100%;
    max-width: 824px;
}
.heading {
    letter-spacing: 4px;
}
.product-details h3{
    color: #0AA5C1;
    font-size: 36px;
    font-weight: bold;
}
.product-details .icon-image{
    height: 26px;
    width: 26px;
    margin-right: 20px;
}
.product-details p{
    font-size: 14px;
    color: #1A3242;
    font-weight: bold;
}
.product-details h6{
    color: #0AA5C1;
    font-size: 28px;
    font-weight: 600;
}
.remove {
    background-color: #D8D8D8;
    color: black;
    width: 41px;
    height: 39px;
    border: none;
}
.add {
    background-color: #0AA5C1;
    color: #FFFFFF;
    width: 41px;
    height: 39px;
    border: none;
}
.btn-add-to-cart-outline {
    border: 1px solid #0AA1BC !important;
    width: 122px;
    height: 42px;
}
.item-nav li {
    width: 150px;
    height: 33px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.4px solid #707070;
    border-radius: 27px;
    margin: 10px;
    padding: 5px;
}
.item-nav .active {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 0.4px solid #0AA1BC;
}
.text-muted {
    color: #000000;
    opacity: 0.5;
}
.item-image {
    width: 100%;
}
.image-active {
    max-width: 352.9px;
    /*height: 306.5px;*/
    border: solid 15px #eaeaea;
}
.blog-container {
    position: relative;
}
.CTA-on-blog {
    position: absolute;
    font-size: 20px;
    letter-spacing: 2px;
    left: 40%;
    top: 80%;
    width: 250px;
    height: 55px;
    border: 5px solid #FFFFFF !important;
    color: #FFFFFF !important;
}
.text-on-blog {
    position: absolute;
    top: 65%;
    left:15%;
    max-width: 1050px;
    text-align: center;
    margin: auto;
    color: #FFFFFF;
    font-weight: lighter;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(10,131,188);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(10,131,188, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.insta-image {
    height: 517px;
    width: 100%;
    object-fit: cover;
}
.horizontal-line {
    border-bottom: 1px solid #d3d3d3;
}